/*  your css code here. If applicable */
body {
	background: #9b5de5;
	margin: 0;
	padding: 0;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 40px;
}
#buttons {
	width: 100%;
}
.btn {
	background: #5d3393;
	color: #fff;
	border: none;
	border-radius: 12px;
	font-size: 1.6rem;
	padding: 38px 56px;
	cursor: pointer;
	transition: background 0.2s;
}
.btn:hover {
	background: #3d1d64;
}
.stop {
	background: #5d3393;
	color: #fff;
	border: none;
	border-radius: 12px;
	font-size: 1.6rem;
	padding: 38px 56px;
	cursor: pointer;
}

.stop:hover {
	background: #f8333e;
}
