body {
	background: #9b5de5;
	margin: 0;
	padding: 0;
}
.flex, #buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; /* ensures full vertical space */
	gap: 40px;
}
